
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Smoke">

    <listeners>
        <listener class-name="com.gap.atpractice.listener.CustomListener" />
    </listeners>

    <test name="Vacation" >

        <parameter name="url" value=""/>
        <parameter name="browser" value="Chrome"/>
        <parameter name="FirefoxBrowser" value="Firefox"/>
        <parameter name="IEBrowser" value="IE"/>

        <parameter name="username" value="at_java_training@wearegap.com"/>
        <parameter name="password" value="123queso"/>

        <parameter name="invalidUsername" value="at_java_training@wearegap.co"/>
        <parameter name="invalidPassword" value="123quesito"/>

        <groups>
            <run>
                <include name="loginSuccess" />
                <include name="loginFail" />
                <include name="newEmployee" />
                <include name="employeePageNavigation" />
            </run>
        </groups>

        <classes>
            <class name="com.gap.atpractice.testSuites.LoginTest" />
            <class name="com.gap.atpractice.testSuites.NewEmployeeTest" />
            <class name="com.gap.atpractice.testngfactory.NewEmployeeFactory" />
            <class name="com.gap.atpractice.testSuites.EmployeeTest" />


        </classes>

    </test>

</suite>
